In [ ]:
# Data Science Tools and Ecosystem

This notebook presents a summary of the Data Science Ecosystem.
## Some of the popular languages that Data Scientists use are:

1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

In [ ]:

### Some of the commonly used libraries used by Data Scientists include:

1. NumPy  
2. Pandas  
3. Matplotlib  
4. Scikit-learn  
5. TensorFlow

In [ ]:
| Data Science Tools       |
|--------------------------|
| Jupyter Notebook         |
| RStudio                  |
| Apache Zeppelin          |

In [ ]:
### Below are a few examples of evaluating arithmetic expressions in Python.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
(3 * 4) + 5

17

In [4]:
In this code cell writInsert a comment line before the expression to explain the operation e.g.  This will convert 200 minutes to hours by diving by 60.

<class 'SyntaxError'>: invalid syntax (<ipython-input-4-da14ea0df8a6>, line 1)

In [5]:

# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

In [6]:
**Objectives:**

- List popular languages for Data Science  
- List commonly used libraries for Data Science  
- Create tables using markdown  
- Perform arithmetic operations using Python code  
- Convert units using Python expressions

<class 'SyntaxError'>: invalid syntax (<ipython-input-6-c87f49162ee8>, line 1)

In [7]:
## Author

Dr.Preet Kamal

<class 'SyntaxError'>: invalid syntax (<ipython-input-7-b46173482e0a>, line 3)